<div class="card testimonial">
  <div class="text-center pt-3">
    <img src="images/portraits/<%= testimonial.image %>" class="card-img-top avatar" alt="<%= testimonial.name %>">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center"><a href="<%= testimonial.link %>" target="_blank"><%= testimonial.name %></a></h5>
    <h6 class="card-subtitle mb-2 text-muted  text-center"><%= testimonial.position %></h6>
    <p class="card-text">

      <blockquote>
        <%= testimonial.text[0..100] %> ...
        <a href="#" data-bs-toggle="modal" data-bs-target="#<%= testimonial.name.gsub(" ", "-") %>">
          read full
        </a>
      </blockquote>

    </p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="<%= testimonial.name.gsub(" ", "-") %>" tabindex="-1" aria-labelledby="<%= testimonial.name.gsub(" ", "-") %>Label" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= testimonial.name.gsub(" ", "-") %>Label"><a href="<%= testimonial.link %>" target="_blank"><%= testimonial.name %></a> · <small class="text-muted"><%= testimonial.position %></small></h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="images/portraits/<%= testimonial.image %>" class="card-img-top avatar float-end ms-2 me-4 mt-2 mb-4" alt="<%= testimonial.name %>">
        <blockquote>
          <%= markdown(testimonial.text) %>
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
